:root {font-size: 1rem;}

.x-small {font-size: 0.75rem;}
.small {font-size: 0.875rem;}
.medium {font-size: 1.25rem;}
.large {font-size: 1.5625rem;}
.x-large {font-size: 1.875rem;}

footer {font-size: 0.9rem;}
.description {font-size: 0.9em;}