:root {
    font-size: 2.0rem;
}

.x-small {
    font-size: 0.2rem;
}

.small {
    font-size: 0.4rem;
}

.medium {
    font-size: 0.6rem;
}

.large {
    font-size: 0.8rem;
}

.x-large {
    font-size: 1.0rem;
}

footer {
    font-size: 50px;
}

.description {
    font-size: smaller;
}